#about_counter {
    padding: 100px 0;

    .counter_part {
        h2 {
            font-size: 70px;
            font-weight: 800;
            color: #ccc;
            margin-bottom: 30px;

                span {
                    font-size: 80px;
                    font-weight: 900;
                    color: #ccc;
                }
            }
        }
    }