#how_to_trade {
    padding: 100px 0;
    background: #f1ecec;

    .story_text {
        h5 {
            color: #336699;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 10px;

            span {
                display: block;
            }

        }

        p {
            color: #666;
            line-height: 1.8;
            margin-bottom: 30px;
        }
    }

    .story_img {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        overflow: hidden;
    }
    .svg_text{
        p{
            padding-left: 10px;
            margin-top: 5px;
            color: #444;
            font-weight: 500;
            span{
                display: block;
                color: #444;
                font-weight: 500;
            }
        }
    }
}