.popup_body {
    background: rgba(5, 5, 5, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999999;


    .popUp {
        width: 780px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        padding: 40px;

        h4 {
            font-family: sans-serif;
            line-height: 1.2;
            color: #333;
            letter-spacing: 0;
            margin-top: 30px;
            margin-bottom: 0.2rem;
            font-size: 1.5rem;

            span {
                display: inline-block;
                margin-left: 0.4rem;
                font-weight: 800;
                color: #336699;
            }
        }

        h2 {
            color: #444;
            margin-bottom: 1.1rem;
            font-weight: 800;
            font-size: 1.8rem;
        }

        p {
            margin-bottom: 0.3rem;
            line-height: 1.75;
            color: #999;

            span {
                display: block;
            }
        }

        .input-wrapper-inline {
            display: flex;
            position: relative;
            max-width: 37.5rem;
            width: 100%;
        }

        .popup_close {
            position: absolute;
            right: 20px;
            top: -30px;

            i {
                color: #fff;
                font-size: 17px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.4);
                    -webkit-transform: scale(1.4);
                    -moz-transform: scale(1.4);
                    -ms-transform: scale(1.4);
                    -o-transform: scale(1.4);
                }
            }
        }

        .form-control {
            display: block;
            width: 60%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: #212529;
            background-color: transparent;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            position: relative;

        }

        button.btn_border {
            position: absolute;
            right: 40%;
            top: 0;
            width: 100px;
            border: 0;
            line-height: 1.98rem;
            border-radius: 0 25px 25px 0;
            -webkit-border-radius: 0 25px 25px 0;
            -moz-border-radius: 0 25px 25px 0;
            -ms-border-radius: 0 25px 25px 0;
            -o-border-radius: 0 25px 25px 0;
            &:hover{
                background: #555;
            }
        }
      
        .form-checkbox{
            margin-top: 20px;
            label{
                color: #999;
                margin-left: 15px;
                font-size: 15px;
            }
        }
    }
}